<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Chat Application</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div style="color: blue; text-align: center">
  <h3>{{title}}</h3>

</div>

<div class="container" style="width: 400px; margin-top: 20px;">

  <form class="form-inline">
    <div class="form-group">
      <label for="connect">Make Connection:</label>
      <button id="connect" class="btn btn-default" type="button" [disabled]="disabled" (click)="connect()">Connect
      </button>
      <button id="disconnect" class="btn btn-default" type="submit" [disabled]="!disabled" (click)="disconnect()">
        Disconnect
      </button>
    </div>
  </form>

  <table id="conversation" class="table table-striped" style="margin-top: 20px;">
    <thead>
    <tr>
      <th>Messages</th>
    </tr>
    </thead>
    <tbody *ngFor="let c of greetings">
    <tr>
      <td>{{c.user }} to ALL :</td>
      <td>{{c.content }}</td>

    </tr>
    </tbody>
  </table>

  <form class="form-inline" style="margin-top: 20px;">
    <div class="form-group">
      <label for="name">User's Name:</label>
      <input type="text" id="name" name="name" class="form-control" [(ngModel)]="name"/>
    </div>
    <br><br>
    <div class="form-group">
      <label for="name">User's Message:</label>
      <textarea type="text" id="message" name="message" class="form-control" rows="3" [(ngModel)]="message"></textarea>
    </div>
    <button id="send" class="btn btn-default" type="button" (click)="sendMessage()">Send</button>
  </form>

</div>
</body>

</html>
