/* You can add global styles to this file, and also import other style files */
.top-header {
  margin-top: 10px;
}

.sendButton {
  padding: 25px;
}


.footer-chat {
  margin-top: 160px;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}
