<div class="container chat ">

  <div class="panel panel-success">
    <div class="panel-heading">Discussion</div>
    <div class="panel-body myStyle">

      <div class="list-group" *ngFor="let c of oldMessages">
        <a class="list-group-item conversation">
          <h4 class="list-group-item-heading"> from {{c.user }}</h4>
          <h6 class="list-group-item-text">at {{c.date | date:'full'}}</h6>
          <hr/>
          <p class="list-group-item-text"> message : {{c.content }}</p>
        </a>
      </div>

      <div class="list-group" *ngFor="let c of greetings">
        <a class="list-group-item conversation">
          <h4 class="list-group-item-heading"> from {{c.user }}</h4>
          <h6 class="list-group-item-text">at {{c.date | date:'full'}}</h6>
          <hr/>
          <p class="list-group-item-text"> message : {{c.content }}</p>
        </a>
      </div>

    </div>

  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <p>Welcome {{name}}</p>

      <form class="form-horizontal">

        <div class="form-group">

      <textarea type="text" id="message" name="message" class="form-control" rows="2"
                [(ngModel)]="message"></textarea>

        </div>
        <div *ngIf="!clientsService.show">
          <button class="btn btn-default" type="button" (click)="sendMessage()">Send to All users</button>
        </div>
        <div *ngIf="clientsService.show">
          <button class="btn btn-default" type="button" (click)="sendPrivateMessage()">Private-Send: to :{{sendTo}}
          </button>
        </div>
      </form>

    </div>

  </div>


</div>

{{messageeee}}
